
.content {
    margin-left: 40px;
}

.post .titol, .post .titol a{
  color: #FCA205;
  font-family: 'Lobster';
}

.titol a:hover, .titol a:visited {
    color: #000000;
}

.page-header {
  background-color: #C25100;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  color: #ffffff;
  font-size: 36pt;
}

.page-header img {
  float: left;
  width: 100;
  margin-right: 1em;
}

.page-header h1 {
  margin-top: 10px;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 3em;
}
.peu {
  text-align: center;
  font-family: arial;
  font-size: .8em;
  margin-bottom: 20px;
  margin-top: 10px;
}

.peu #versio {
  margin-right: 20px;
  color: green;
  font-weight: bold;
}

.peu #copyr {
  margin-left: 20px;
  color: black;
}
